body{
    background-color: aliceblue;
}
h3{
    color: cornsilk;
}
nav{
    float: left;
    border:1px;
}
.container{
    width: 100%;
}
@media screen and (max-width:300px){
    body{
        background-color: red;
    }
    p{
        font-size: small;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .container{
        box-sizing: border-box;
    }
}
@media screen and (min-width:300px) and (max-width:768px){
    body{
        background-color: green;
    }
    p{
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }
    .small{
        width:60%;
        float: left;
        
    }
    .medium{
        float:left;
        width:10%;
        
    }
    .large{
    
        right:0px;
        width:100%;
    }
    

}
@media screen and (min-width:768px){
    body{
        background-color: blue;
    }
    p{
        font-size: x-large;
    }
    .container{
        display: flex;
    }
}
