body{
    background-color: aliceblue;
}
h3{
    color: cornsilk;
}
nav{
    float: left;
    border:1px;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap:20px;
   
}

    

@media screen and (max-width:300px){
    body{
        background-color: red;
    }
    p{
        font-size: small;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .grid-container{
        display: block;
    }
    }
    
}
@media screen and (min-width:300px) and (max-width:768px){
    body{
        background-color: green;
    }
    p{
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }
    .grid-container{
        grid-template-columns: 2fr 1fr 3fr ;
    }
        
    
    

}
@media screen and (min-width:768px){
    body{
        background-color: blue;
    }
    p{
        font-size: x-large;
    }
    .grid-container{
        display:inline-grid;
    }
}
