body{
    background-color: aliceblue;
}
h3{
    color: cornsilk;
}
nav{
    
    border:0px;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap:20px;
    
   
}
.small{
    grid-area: small;
}
.medium{
    grid-area: medium;
}
.large{
    grid-area: large;
}


    

@media screen and (max-width:300px){
    body{
        background-color: red;
    }
    p{
        font-size: small;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .grid-container{
        grid-template-areas:
        "small small small"
        "medium medium medium"
        "large large large"
    }
        
    }
    
    

@media screen and (min-width:300px) and (max-width:768px){
    body{
        background-color: green;
    }
    p{
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        "small medium large"; 
        grid-template-columns: 200px 1fr auto;
    }
    
    

}
@media screen and (min-width:768px){
    body{
        background-color: blue;
    }
    p{
        font-size: x-large;
    }
    .grid-container{
        display:grid ;
        grid-template-areas: 
        "small medium large";
    }
}
